.container-fluid {
  height: 100svh;
  display: grid;
  place-items: center;
  padding: 2cqw;
}
.card {
  transition: .3s;
}
.card:hover {
  background-color: #fffefe;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.card-img-top {
  max-height: 250px;
}

.position-absolute {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s;
}

.z-2 {
  transform: scale(1.001);
}
